/*
=============== 
Variables
===============
*/

:root {
	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: hsl(205, 78%, 60%);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;
	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: var(--clr-grey-10);
	color: var(--clr-grey-1);
	line-height: 1.5;
	font-size: 0.875rem;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4 {
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}
/*  Global Classes */

.img {
	display: block;
	width: 100%;
	object-fit: cover;
	aspect-ratio: 16/9;
}

.btn {
	background: var(--clr-green-dark);
	display: inline-block;
	padding: 0.25rem 0.5rem;
	border-radius: var(--radius);
	text-transform: capitalize;
	color: var(--clr-white);
	letter-spacing: var(--spacing);
	border: 1px solid transparent;
	cursor: pointer;
	font-size: 1.2rem;
}

.btn:hover {
	background-color: var(--clr-green-light);
	color: var(--clr-white);
}

.btn-block {
	width: 100%;
}

.btn-outline {
	color: var(--clr-green-dark);
	background-color: transparent;
	border: 1px solid var(--clr-green-dark);
}

.btn-outline:hover {
	border: 1px solid var(--clr-green-light);
}

.btn.btn-light {
	margin-top: 0;
	font-size: 1rem;
	color: var(--clr-green-dark);
	background: transparent;
}

.btn.btn-light:hover {
	color: var(--clr-green-light);
}

.btn-back {
	display: block;
	margin: 4rem auto;
}

.title {
	margin-bottom: 3rem;
	text-align: center;
}

.title-underline {
	margin: 1rem auto;
	width: 8rem;
	height: 0.2rem;
	background-color: var(--clr-green-light);
}

/* HTML: <div class="loader"></div> */
.loader {
	margin: 10rem auto;
	width: 100px;
	aspect-ratio: 1;
	display: grid;
	mask: conic-gradient(from 15deg, #0000, #000);
	animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
	background: radial-gradient(
				closest-side at 50% 12.5%,
				var(--clr-green-dark) 96%,
				#0000
			)
			50% 0/20% 80% repeat-y,
		radial-gradient(closest-side at 12.5% 50%, var(--clr-green-dark) 96%, #0000)
			0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
	content: '';
	grid-area: 1/1;
	transform: rotate(30deg);
}
.loader:after {
	transform: rotate(60deg);
}

@keyframes l26 {
	100% {
		transform: rotate(1turn);
	}
}
/*

/*
=============== 
Tours
===============
*/
.main {
	margin: 0 auto;
	width: 90vw;
	max-width: var(--max-width);
	position: relative;
}

@media screen and (min-width: 1270px) {
	.main {
		width: 95vw;
	}
}

.section-tours {
	padding: 3rem 0;
}

.tours {
	display: grid;
	grid-template-columns: 1fr;
	align-items: flex-start;
	gap: 2rem;
}

@media screen and (min-width: 768px) {
	.tours {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 992px) {
	.tours {
		grid-template-columns: repeat(3, 1fr);
	}
}

.single-tour {
	position: relative;
	box-shadow: var(--light-shadow);
	border-radius: var(--radius);
	background-color: var(--clr-white);
}

.single-tour:hover {
	box-shadow: var(--dark-shadow);
}

.tour-img {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.tour-content {
	padding: 2rem 1.5rem;
}

.tour-price {
	padding: 0.3rem 0.8rem;
	position: absolute;
	top: 0;
	right: 0;
	color: var(--clr-white);
	letter-spacing: var(--spacing);
	font-weight: 500;
	background-color: var(--clr-green-dark);
	border-top-right-radius: var(--radius);
}

.tour-name {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	line-height: 1.4;
	text-align: center;
}

/*
=============== 
Reviews
===============
*/
.section-reviews {
	padding: 3rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.review {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: var(--fixed-width);
	padding: 2rem;
	text-align: center;
	background: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--light-shadow);
}

@media screen and (min-width: 768px) {
	.review {
		padding: 3rem;
	}
}

.review:hover {
	box-shadow: var(--dark-shadow);
}

.img-container {
	position: relative;
	margin-bottom: 1.5rem;
	margin-left: auto;
	margin-right: auto;
	width: 10rem;
	height: 10rem;
}

.img-container:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: -0.2rem;
	right: -0.6rem;
	z-index: 0;
	background-color: var(--clr-green-dark);
	border-radius: 50%;
}

.review-img {
	position: relative;
	z-index: 1;
	height: 100%;
	border-radius: 50%;
	object-position: 50% 50%;
}

.img-icon {
	position: absolute;
	top: 0.6rem;
	left: 0rem;
	z-index: 2;
	padding: 0.5rem;
	display: grid;
	place-items: center;
	font-size: 1.3rem;
	background-color: var(--clr-green-dark);
	border-radius: 50%;
}

.btns-container {
	margin-bottom: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 1.2rem;
}

.btns-container button {
	background-color: transparent;
	border: transparent;
}

/*
=============== 
Questions
===============
*/
.section-questions {
	padding: 3rem 0;
}
.question {
	margin-bottom: 2rem;
	padding: 1rem 1.5rem;
	background-color: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--light-shadow);
}

.question:hover {
	box-shadow: var(--dark-shadow);
}

.question-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.question-title {
	font-size: 1.3rem;
	font-weight: 500;
}
.question-btn {
	font-size: 2rem;
	color: var(--clr-green-dark);
	background-color: transparent;
	border: transparent;
	cursor: pointer;
}
.question-info {
	margin: 0.5rem 0;
}

/*
=============== 
Menu
===============
*/
.section-menu {
	padding: 1rem 0 3rem;
}

.buttons-container {
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.menu-items {
	display: grid;
	grid-template-columns: 1fr;
	align-items: flex-start;
	gap: 2rem;
}

@media screen and (min-width: 768px) {
	.menu-items {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 992px) {
	.menu-items {
		grid-template-columns: repeat(3, 1fr);
	}
}

.menu-item {
	border-radius: var(--radius);
	background-color: var(--clr-white);
}

.menu-img {
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.menu-item-info {
	padding: 1.5rem;
	padding-bottom: 0.5rem;
}

.menu-item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-item-header h5 {
	font-size: 1rem;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
}

.menu-item-price {
	padding: 0.1rem 0.5rem;
	font-size: 0.875rem;
	color: var(--clr-white);
	font-weight: bold;
	background-color: var(--clr-green-dark);
	border-radius: var(--radius);
}

.menu-item-text {
	margin-top: 1rem;
}

/*
=============== 
Jobs
===============
*/
.section-jobs {
	padding: 3rem 0;
}

.job {
	display: grid;
}

@media screen and (min-width: 992px) {
	.job {
		grid-template-columns: 25rem 1fr;
	}
	.job .buttons-container {
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 1rem;
	}
}

.job-btn {
	padding-bottom: 1rem;
	font-size: 1.1rem;
	color: var(--clr-grey-1);
	font-weight: 600;
	background-color: transparent;
}

.active-btn {
	color: var(--clr-green-light);
	border-bottom: 1px solid var(--clr-green-light);
}

.job-btn:hover {
	background-color: transparent;
	color: var(--clr-green-light);
	border-bottom: 1px solid var(--clr-green-light);
}

@media screen and (min-width: 992px) {
	.job-btn {
		padding: 0.5rem 0 0.5rem 8rem;
	}

	.active-btn {
		border-bottom: transparent;
		border-left: 1px solid var(--clr-green-light);
	}

	.job-btn:hover {
		border-bottom: transparent;
		border-left: 1px solid var(--clr-green-light);
	}
}

.job-title {
	font-size: 1.8rem;
	font-weight: 600;
}

.job-company {
	display: inline-block;
	margin-bottom: 0.5rem;
	padding: 0.25rem 0.8rem;
	font-size: 0.85rem;
	font-weight: 500;
	letter-spacing: var(--spacing);
	background-color: var(--clr-grey-8);
	border-radius: var(--radius);
}

.job-dates {
	margin-bottom: 2rem;
	font-size: 1.1rem;
	color: var(--clr-grey-6);
	font-weight: 500;
	letter-spacing: var(--spacing);
}

.duty {
	margin-bottom: 1.5rem;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	column-gap: 2rem;
}

.duty-icon {
	font-size: 1.2rem;
	color: var(--clr-green-light);
	line-height: 1;
}

.duty-text {
	margin-bottom: 0;
	font-size: 1.1rem;
	color: var(--clr-grey-3);
}
